body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: whitesmoke;
}
  
* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1,
h2,
h3,
p {
    margin-bottom: 20px;
}

img {
    float: right;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #00aced;  
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}

h2,
h3 {
    font-size: 22px;
}

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #00aced;  
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}

nav a:first-child {
    border-left: 0 none;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #00aced;
    height: 50px;
}

h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }
  
#main-container {
    padding-top: 130px;
}
  
.main-section {
    float: left;
    width: 65%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}

aside {
    float: right;
    width: 30%;
    padding: 30px;
    max-width: 960px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa-github {
    background: #25292e;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-stack-overflow {
    background: #f27f33;
    color: white;
  }
  

/* portfolio page */

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #00aced;
    border-bottom: 0;  
}

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=email],
input[type=text],
textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}

textarea {
    height: 200px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #00aced;
    border: 0 none;
}
 
@media screen and (max-width:980px) {
    .container {
        width: 65%;
    }

    aside {
        width: 30%;
    }
}

@media screen and (max-width:768px) {

    #logo {
        float: left;
        width: 250px;
    }

    .container .main-section {
        width: 100%;
    }

    .container {
        width: 700px;
    }

    #main-container {
        padding: 0;
    }

    aside {
        width: 100%;
    }

    #masthead {
        position: static;
    }
}

@media screen and (max-width:640px) {    
    #logo {
        position: relative;
        width: 100vw;
        left: calc(-50vw + 50%);
        height: 70px;
        padding-bottom: 5px;
        font-size: 24px;
        line-height: 70px        
    }

    nav {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container {
        width: 600px;
    }

    nav a {
        margin: 0 50px 0 50px;
        font-size: 14px;
        border-left: none;
    }

    